@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.home {
    font-family: 'Roboto';

    &__container {
        margin-bottom: 3rem;
        // width: 50%;
    }

    &__div {
        // @include mobile {
        //     display: none
        // }
        @include tablet {
            display: flex;
        }
    }

    &__left-container {
        width: 50%;
    }

    &__right-container {
        width: 50%;
    }

    // &__book-cover-container {
    //     display: flex;
    //     width: 50%;
    // }

    // &__book-text-container {
    //     display: flex;
    //     width: 50%;
    // }

    &__header {
        @include mobile {
            display: flex;
            justify-content: flex-start;
            margin-left: 8vw;
            font-size: 30px;
            color: #B2B2B2;
            font-weight: normal;
    }
        @include tablet {
            margin-top: 3rem;
            margin-left: 4vw;
    }
        @include desktop {
            margin-left: 2.5vw;
        }
}   
    &__line {
        @include mobile {
            display: inline-flex;
            border-top: 2px solid black;
            width: 80%;
        }
        @include tablet {
            margin-top: 2rem;
        }
    }

    &__hero {
        @include mobile {
            width: 100%;
            // border-bottom: 2px solid red;
        }
        @include desktop {
            // margin-top: -10rem;
        }
    }

    &__text-container {
        @include mobile {
            width: 230px;
        }
        @include tablet {
            width: 300px;
        }
        @include desktop {
            width: 400px;
        }
    }

    &__text {
        @include mobile {
            display: flex;
            justify-self: flex-start;  
            text-align: left;
            margin-left: 8.2vw;
            margin-top: -1.5rem;
            font-size: 10px;
        }
        @include tablet {
            margin-left: 4vw;
            font-size: 13px;
        }
        @include desktop {
            margin-left: 2.6vw;
        }
    }

    &__text-line {
        @include mobile {
            display: none;
        }
        @include tablet {
        border-bottom: 2px solid black;
        width: 70%;
        margin-right: 5vw;
        display: inline-block;
    }
    }
//FIXME: text moves when span is applied
    &__text-span p {
        font-weight: bold;
    }

    &__book {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: flex;
            justify-content: flex-start;
            font-size: 30px;
            color: black;
            font-weight: normal;
            margin-top: 3rem;
        }

    }

    &__book-cover {
        @include mobile {
            display: none;
        }
        @include tablet {
        width: 30%;
        display: flex;
        flex-direction: flex-start;
        }
    }

    &__book-text-container {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: flex;
            justify-content: flex-end;
            margin-top: -12rem;
            margin-right: 5vw;
        }
        @include desktop {
            margin-top: -15rem;
        }
    }

    &__book-text {
        @include mobile {
            display: none
        }
        @include tablet {
            font-size: 13px;
            text-align: left;
            width: 50%;
            display: flex;
        }
    }
}


// p {
//     display: flex;
//     justify-self: flex-start;
// }