@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.home {
    font-family: 'Roboto';

    &__header {
        @include mobile {
            display: flex;
            justify-content: flex-start;
            margin-left: 8vw;
            font-size: 30px;
            color: #B2B2B2;
    }
        @include tablet {
            margin-top: 3rem;
            margin-left: 4vw;
    }
        @include desktop {
            margin-left: 2.5vw;
        }
}   
    &__line {
        @include mobile {
            display: inline-flex;
            border-top: 2px solid black;
            width: 80%;
        }
        @include tablet {
            margin-top: 2rem;
        }
    }

    &__hero {
        @include mobile {
            width: 100%;
        }
    }

    &__text-container {
        @include mobile {
            width: 230px;
        }
        @include tablet {
            width: 300px;
        }
    }

    &__text {
        @include mobile {
            display: flex;
            justify-self: flex-start;  
            text-align: left;
            margin-left: 8.2vw;
            margin-top: -1.5rem;
            font-size: 10px;
        }
        @include tablet {
            margin-left: 4vw;
            font-size: 13px;
        }
        @include desktop {
            margin-left: 2.6vw;
        }
    }
//FIXME: text moves when span is applied
    &__text-span p {
        font-weight: bold;
    }
}

// p {
//     display: flex;
//     justify-self: flex-start;
// }