@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.chat {

    background-color: $font-color-3;

    &__logo {
        @include mobile {
            width: 50px;
            margin: auto;
            margin-top: 1rem;
        }
    }

    &__outer-container {
        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin-top: -2rem;
            background-color: $font-color-3;
        }
    }

    &__inner-container {
        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $font-color-1;
            border-radius: 8px;
            height: 60%;
            width: 300px;
            margin-left: 5vw;
            border: 2px solid $primary-color;
        }
        @include tablet {
            width: 500px;
        }
    }
}