@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.about {

    &__container {
        @include tablet {
            display: flex;
        }
    }

    &__header {
        @include mobile {
            color: $font-color-3;
            font-weight: normal;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid $primary-color;
            line-height: 0.1em;
            margin: 10px 0 20px;
        }
    }

    &__header span {
        @include mobile {
            background: $font-color-1;
            padding: 0 10px;
        }
    }
    
    &__logo {
        @include mobile {
            width: 50px;
            margin: auto;
        }
    }

    &__image-container {
        @include tablet {
            width: 50%;
        }
    }

    &__image {
        @include mobile {
            width: 200px;
        }
        @include tablet {
            width: 300px;
            margin-top: 2rem;
        }
        @include desktop {
            margin-top: -1rem;
        }
    }

    &__text-container {
        @include mobile {
            margin-top: 2rem;
        }
        @include tablet {
            // width: 320px;
            width: 52%;
            margin-top: 4rem;
        }
        @include desktop {
            width: 50%;
            margin-left: 5vw;
        }
    }

    &__text-second,
    &__text-third {
        @include mobile {
            margin: 1rem 3vw 1rem 3vw;
        } 
        @include tablet {
            justify-content: flex-start; 
        }
    }
}