@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.message {
    @include mobile {
        display: flex;
        justify-content: flex-end;
        padding: 5px 2%;
        margin-top: 3px;
    }

    &__box {
        @include mobile {
            background: $chat;
            border-radius: 20px;
            padding: 2px 20px;
            color: $primary-color;
            display: inline-block;
            max-width: 80%;
        }
    }

    &__text {
        @include mobile {
            width: 100%;
            letter-spacing: 0;
            float: left;
            font-size: 1em;
            word-wrap: break-word;
        }
    }

    &__text img {
        vertical-align: middle
    }

    &__sent-text {
        display: flex;
        align-items: center;
        color: #828282;
        letter-spacing: .3px;
        padding-left: 10px;
    }

}

.pr-10 {
    padding-right: 10px;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.colorWhite {
    color: $primary-color;
}

.colorDark {
    color: #353535;
}

.backgroundBlue {
    background: $font-color-3;
}

.backgroundLight {
    background: $chat;
}