$primary-color: #000000;
$font-color-1: #ffffff;
$font-color-2: #b2b2b2;
$font-color-3: #91badb;
$chat: #f3f3f3;
$error: red;
$border-radius: 5px;


// media queries

@mixin mobile {
    @media only screen and (min-width: 320px)  {
        @content;
    }
}

@mixin mobile-medium {
    @media only screen and (min-width: 375px) {
        @content;
    }
}

@mixin mobile-large {
    @media only screen and (min-width: 425px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}


@mixin desktop {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}