@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.form {
    font-family: 'Roboto';
    margin: 0 15vw 0 5vw;
    font-size: 14px;

   &__header-container {
       display: flex;
   }

   &__image {
       @include mobile {
           display: none;
       }
       @include tablet {
        display:flex;
        width: 100px;
        margin-top: 2.05rem;
        margin-left: 0;
       }
   }

    &__header {
        @include mobile {
            //FIXME: which one looks better roboto or prompt?
            //  font-family: 'Prompt';
             font-weight: 400;
             font-size: 50px;
             letter-spacing: 0.5px;
             display: flex;
             justify-content: flex-start;
             margin-bottom: -1vh;
            //  margin-left: 5vw;
        }
    }

    &__info,
    &__subheading {
        @include mobile {
            text-align: left;
            line-height: 20px;
        }
    }

    &__info {
        @include mobile {
            margin-top: 2rem;
        }
    }

    &__box {
        @include mobile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
        }
    }

    &__input {
        @include mobile {
            width: 16px;
            height: 16px;
            border: 1px solid $primary-color;
            border-radius: 100%;
            outline: $primary-color;
            
        }
    }

    &__input-container {
        @include mobile {
            display: flex;
            justify-content: flex-start;
        }
    }

    &__input-authors {
        @include mobile {
            width: 300px;
            height: 50px;
            outline: none;
            border: 1px solid $primary-color;
        }
        @include tablet {
            width: 300px;
        }
    }

    &__button-container {
        @include mobile {
            display: flex;
            justify-content: flex-start;
        }
    }

    &__button {
        @include mobile {
            outline: none;
            border: 1px solid $primary-color;
            background-color: $primary-color;
            color: $font-color-1;
            height: 30px;
            width: 50px;
            font-size: 12px;
            font-family: 'Roboto';
            border-radius: 5px;
            padding-bottom: 4px;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

}

//TODO: figure out padding between button and label & needs an image

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $font-color-2;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $font-color-1;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $primary-color;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $font-color-1;
}

input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    background-color: $font-color-2;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $font-color-1;
}

input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    background-color: $primary-color;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $font-color-1;
}

::placeholder {
    @include mobile {
        padding-top: 0.5rem;
        padding-left: 2vw;
    }
    @include tablet {
        padding-left: 1vw;
    }
}

