@font-face {
    font-family: 'Fjalla One';
    src: url('./../fonts/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('./../fonts/Cantarell-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('./../fonts/Cantarell-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}