@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.header {

    &__logo {
        @include mobile {
            width: 100%;
            margin: 0 auto;
        }
    }
    
    &__nav-list {
        @include mobile {
            display: flex;
            justify-content: space-between;
            margin-left: -1vw;
            margin-right: 10vw;
        }
    }

    &__nav-list-item {
        @include mobile {
            list-style-type: none;
        }
    }

    &__logout {
        @include mobile {
            border: 1px solid black;
            height: 21px;
            border-radius: 5px;
            background-image: linear-gradient(to right, lightblue,#ded5ef, pink);
        }
    }
}