@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.klub {
    font-family: 'Roboto';
    
    &__logo {
        @include mobile {
            width: 50px;
            // display: flex;
            // justify-content: space-evenly;
        }
    }

    &__header {
        @include mobile {
            font-size: 30px;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            font-weight: normal;
            // margin-left: 5vw;
            // width: 280px;
        }
        @include desktop {
            font-size: 40px;
        }
    }

    &__members {
        @include mobile {
            display: flex;
            justify-content: center;
            // margin-left: 5vw;
            margin-top: -1rem;
            font-size: 15px;
        }
        @include desktop {
            font-size: 20px;
        }
    }
}