@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.join {
    font-family: 'Roboto';

    * {
        box-sizing: border-box;
      }

    &__outer-container {
        @include mobile {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
      }

    &__header {
        @include mobile {
            font-weight: normal;
            font-size: 13px;
            display: flex;
            justify-content: center;
        }
    }

    &__header-text {
        @include mobile {
            font-weight: normal;
            font-style: italic;
            font-size: 10px;
            display: flex;
            justify-content: center;
            margin-top: -1rem;
        }
    }

    &__input {
        @include mobile {
            margin-top: 5px;
            margin-bottom: 8px;
            border-radius: 5px;
            border-color: $primary-color;
            height: 25px;
            font-family: 'Roboto';
            font-size: 12px;
        }
    }

    &__input::placeholder {
        @include mobile {
            font-family: 'Roboto';
            font-size: 12px;
        }
    }

    &__button {
        outline: none;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        color: $font-color-1;
        height: 22px;
        font-size: 12px;
        font-family: 'Roboto';
        border-radius: 5px;
        padding-bottom: 4px;
    }
}   

